<div class="col-lg-2 col-md-3 col-sm-4">
    <div class="card profile-card-3">
        <div class="background-block">
            <img src="{{ background_picture }}" alt="profile-sample1" class="background"/>
        </div>
        <div class="profile-thumb-block">
            <img src="{{ profile_picture }}" alt="profile-image" class="profile"/>
        </div>
        <div class="card-content" >
            <h3>{{ profile_full_name }}<small>{{ profile_city }}</small></h3>
            <div class="icon-block">
                <a href="{{ profile_vk_link }}" target="_blank"><i class="fa fa-vk"></i></a>
            </div>
        </div>
    </div>
</div>